* {
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 226, 226);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fix-width {
  width: 80vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
}

.projects-announcements-flex-container {
  display: flex;
  justify-content: space-between;
  margin-right: 6.5rem;
  margin-left: 1.5rem;
}
.grid-container h4 {
  margin-left: 1rem;
  margin-right: 8.8rem;
}

.grid-box {
  font-size: 20px;
  text-align: center;
  grid-auto-flow: column;
}
#side-bar {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: #0ea5e9;
}

#nav-bar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.main-content-container {
  display: inline-grid;
  font-size: 20px;
  text-align: center;
  grid-template-columns: 1fr 1fr 2fr;
  grid-auto-flow: row;
  gap: 18px;
  background-color: rgb(226, 226, 226);

  margin-bottom: 30px;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  border-left: 8px solid orange;
  height: 14rem;
  width: 20rem;
  margin-left: 1.5rem;
}

.text-content {
  font-size: 16px;
  margin-left: 20px;
  text-align: left;
  font-weight: 100;
  margin-top: 20px;
}

.text-content h5 {
  font-size: 20px;
}

.text-content p {
  margin-top: -20px;
  font-size: 18px;
}

#card-span-3-rows {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
  border: 10px solid rgb(255, 255, 255);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  width: 14rem;
  height: 17.9rem;
  margin: 0px;
}

.card-span-3-rows-inner-grid-container-1 {
  text-align: left;
  margin-left: 15px;
}

.inner-grid-span-outline-1 {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(248, 248, 248);
}

.inner-grid-span-outline-1 h5 {
  font-size: 12px;
}
.inner-grid-span-outline-1 p {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  margin-top: -15px;
}

.card-span-3-rows-inner-grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */

  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  width: 14rem;
  height: 19.8rem;
  background-color: white;
  margin-left: -10px;
  border: 10px solid rgb(255, 255, 255);
}

.card-span-3-rows-inner-grid-container-2 div {
  border: 2px dashed blue;
  height: 75px;
}
#no-border-policy {
  border: none;
}

.trending {
  position: relative;
  top: 20px;
  left: -75px;
  font-size: 20px;
}

.text-social-media {
  border: 2px dashed blue;
  font-size: 10px;
  text-align: left;
  padding-left: 10px;
}
