* {
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 226, 226);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fix-width {
  width: 80vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100vh;
}

.projects-announcements-flex-container {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
  margin-right: 6rem;
  margin-left: 1.8rem;
}
.grid-container h4 {
  margin-left: 1rem;
  margin-right: 8.8rem;
}

.grid-box {
  font-size: 20px;
  text-align: center;
  grid-auto-flow: column;
}
#side-bar {
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: #0ea5e9;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 6fr;
}

#side-bar > div {
  /* border: 2px solid red; */
}

.side-bar-text {
  text-align: left;
  font-size: 17px;
  color: white;
  font-weight: 600;
  margin-top: 3px;
  margin-right: 10px;
}

.dashboard-text {
  text-align: left;
  font-size: 25px;
  color: white;
  font-weight: 600;
  margin-top: 17px;
  margin-right: 10px;
}
#nav-bar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: grid;
  height: 10rem;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: row;
}

.main-content-container {
  margin-left: 2.5rem;
  display: inline-grid;
  font-size: 20px;
  text-align: center;
  grid-auto-flow: row;
  gap: 18px;
  background-color: rgb(226, 226, 226);
  margin-bottom: 30px;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  border-left: 8px solid orange;
}

.text-content {
  font-size: 16px;
  margin-left: 20px;
  text-align: left;
  font-weight: 200;
  margin-top: 20px;
  width: 16rem;
}

.text-content h5 {
  font-size: 20px;
  font-weight: 900;
}

.text-content p {
  margin-top: -30px;
  font-size: 15px;
}

#card-span-3-rows {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
  border: 10px solid rgb(255, 255, 255);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  width: 15rem;
  height: 19.5rem;
  margin: 0px;
}

.card-span-3-rows-inner-grid-container-1 {
  text-align: left;
  margin-left: 15px;
  width: 11rem;
  margin-left: 2rem;
}

.inner-grid-span-outline-1 {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(214, 214, 214);
  margin-top: 10px;
}

.inner-grid-span-outline-1 h5 {
  font-size: 12px;
}
.inner-grid-span-outline-1 p {
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  margin-top: -12px;
}

.card-span-3-rows-inner-grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */

  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  width: 14rem;
  height: 274px;
  background-color: white;
  margin-left: -10px;
  border: 10px solid rgb(255, 255, 255);
}

.card-span-3-rows-inner-grid-container-2 div {
  height: 75px;
}
#no-border-policy {
  border: none;
}

.trending {
  position: relative;
  top: 20px;
  left: -75px;
  font-size: 20px;
}

.text-social-media {
  text-align: left;
  font-size: 12px;
}

.felix h6 {
  padding: 5px;
  font-size: 12px;
  position: relative;
  top: -20px;
}

.felix p {
  padding: 5px;
  position: relative;
  top: -55px;
  font-weight: 300;
}

.morgan h6 {
  padding: 5px;
  font-size: 12px;
  position: relative;
  top: -20px;
}

.morgan p {
  padding: 5px;
  position: relative;
  top: -55px;
  font-weight: 300;
}

.Kendall h6 {
  padding: 5px;
  font-size: 12px;
  position: relative;
  top: -20px;
}

.Kendall p {
  padding: 5px;
  position: relative;
  top: -55px;
  font-weight: 300;
}

.Alex h6 {
  padding: 5px;
  font-size: 12px;
  position: relative;
  top: -35px;
}

.Alex p {
  padding: 5px;
  position: relative;
  top: -70px;
  font-weight: 300;
}

.profile-picture-social-media {
  border-radius: 50%;
  width: 3.2rem;
}

.profile-picture-social-media-1 {
  width: 3.2rem;
  border-radius: 50%;
  height: 50px;
}

.profile-picture-social-media-3 {
  width: 3.2rem;
  border-radius: 50%;
  height: 50px;
  position: relative;
  top: -5px;
}

.profile-picture-social-media-4 {
  width: 3.2rem;
  border-radius: 50%;
  height: 50px;
  position: relative;
  top: -15px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg)
    brightness(102%) contrast(103%);
}

.filter-text-white {
  color: white;
}

.icon-image {
  width: 1.5rem;
}

.dashboard-img {
  width: 4rem;
}

.card-links {
  padding-left: 7.3rem;
  margin-top: 65px;
  width: 100%;
}

.card-links img {
  width: 1.4rem;
  position: relative;
  left: 35px;
}

.card-links span {
  margin: 8px;
}

.magnify {
  width: 1.5rem;
  position: relative;
  top: 2px;
  margin-top: 20px;
}

.searchbar {
  display: flex;
  margin-left: 40px;
}

.search {
  border-radius: 25px;
  background: rgb(226, 226, 226);
  border: 0px solid;
  margin-left: 10px;
  height: 1.5rem;
  width: 32rem;
  margin-top: 20px;
}

.bell {
  width: 1.5rem;
  position: absolute;
  right: 352px;
  top: 20px;
}

.profile-img {
  width: 3.5rem;
  border-radius: 50%;
  height: 3rem;
  position: absolute;
  right: 260px;
  top: 10px;
}
.bell-name-profilepic {
  position: relative;
}

.bell-name {
  position: absolute;
  right: -45px;
  top: -1px;
}

.morgan-oakley-intro {
  display: flex;
}

.oakley-intro {
  width: 4.5rem;
  border-radius: 50%;
  height: 4rem;
  position: relative;
  left: 35px;
  top: 25px;
}

.oakley-intro-text h4 {
  position: relative;
  left: 2rem;
  top: -1.5rem;
}

.oakley-intro-text h6 {
  position: relative;
  right: 7.5rem;
  top: 0.2rem;
}

.upload-new-share {
  height: 2rem;
  position: relative;
  top: 2rem;
  left: -3rem;
  /* border: 2px solid red; */
  width: 30rem;
}

.upload-new-share button {
  margin: 10px;
  width: 5.5rem;
  border-radius: 15px;
  padding: 7px;
  background-color: #0ea5e9;
  color: white;
  font-size: 12px;
  font-weight: 900;
  border: 0px solid;
  height: 2rem;
}
